.price {
    color: #FF0000;
    font-family: tahoma;
    font-size: 1.25em;
    font-weight: bold;
}

.ptt_span0 {
  width: 30px;
}

.ptt_mt {
    margin-top: 20px;
}

.ptt_span2 {
    margin-left: 140px;
}

.ptt_offset0 {
    margin-left: 50px;
}