<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>[% IF title %][% title %] | [% END %]葡萄淘,不错哦 - 比价</title>
<meta name="description" content="比价-[% title %]">
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/ptt.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
</head>
<body>
<div class="container">
<div style="margin-top:120px">
  <span class="logo">
    <a href="/"><img src="/static/images/logo.png"></a>
  </span>
</div>

<div class="container after"></div>

<div class="ptt_mb">  
  <span class="span7 ptt_mb" style="padding-left:260px;">
    <form id="isearch" class="form-search ptt_mt" action="/load">  
      <input type="text" class="input-xxlarge search-query" autocomplete="off" name="q" id="q">  
      <span id="cq"></span>
      <button type="submit" class="btn">Search</button>  
    </form>  
  </span>
</div>

</div>

</div>

</body>
</html>
