<div class="row">
<span class="span10 offset2">
<div class="form-search ptt_mt">  
      网址: <input id="data-q" type="text" class="input-xxlarge search-query">  
      <button class="btn" id="eanlookup">找</button>  
</div>  
</span>
</div>

<div class="row">
    <div id="info" class="ptt_mt span6" style="margin-left:265px;"></div>
</div>
